<br>
<h3>Registro de matrícula</h3>
<hr>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#alumno" role="tab" aria-controls="home" aria-selected="true">Seleccionar alumno</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#materia" role="tab" aria-controls="profile" aria-selected="false">Seleccionar materia</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#matricula" role="tab" aria-controls="contact" aria-selected="false">Realizar matrícula</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="alumno" role="tabpanel" aria-labelledby="home-tab">
        <br>
        <h5 *ngIf="alumno != undefined">{{alumno.nombres}} {{alumno.apellidos}}</h5>
        <br>
        <app-alumno-search (alumnoFound)="setAlumno($event)"></app-alumno-search>
    </div>
    <div class="tab-pane fade" id="materia" role="tabpanel" aria-labelledby="profile-tab">
        <br>
        <h5 *ngIf="materia != undefined">{{materia.nombre}}</h5>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Créditos
                    </th>
                    <th>
                        Área
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of materias">
                    <td>
                        NRC {{item.nrc}} - {{item.nombre}}
                    </td>
                    <td>
                        {{item.creditos}}
                    </td>
                    <td>
                        {{item.idarea}}
                    </td>
                    <td class="btn-group">
                        <button (click)="selectMateria(item)" class="btn btn-sm btn-info"><fa-icon [icon]="faCheck"></fa-icon></button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="matricula" role="tabpanel" aria-labelledby="contact-tab">
        <h5 *ngIf="alumno != undefined">Alumno: {{alumno.nombres}} {{alumno.apellidos}}</h5>
        <h5 *ngIf="materia != undefined">Materia: {{materia.nrc}} {{materia.nombre}}</h5>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="user">
            <fieldset>
                <label>Tipo de matrícula: </label>
                <select formControlName="tipo" class="control-user" [(ngModel)]="matricula.tipo">
                    <option>-- Seleccione --</option>
                    <option value="P">Primera</option>
                    <option value="S">Segunda</option>
                    <option value="T">Tercera</option>
                </select>
                <br>
                <button [disabled]="alumno == undefined || materia == undefined" type="submit">Guardar</button>&nbsp;
                <button type="reset" (click)="onReset()">Cancelar</button><br>
            </fieldset>
        </form>
    </div>
    <pre>{{matricula | json}}</pre>
</div>